worker_processes  2;

events {
    use           epoll;
    worker_connections  128;
}

http {
    server_tokens off;
    include       mime.types;
    charset       utf-8;

    server {
	listen 8080;
        location / {
            root {{ root_dir }};
            index index.html;
        }
    }
}

