worker_processes  2;

events {
    use           epoll;
    worker_connections  128;
}

http {
    server_tokens off;
    include       mime.types;
    charset       utf-8;

    server {
        listen {{ nginx_port }} default_server;
        server_name _;
        location / {
            proxy_pass http://unix:/run/gunicorn.sock;
            error_page   500 502 503 504  /50x.html;
        }
        location = /50x.html {
            root   {{ root_dir }};
        }
    } 
}

